---
import "../styles/layout.css";

import Nav from "../components/Nav.astro";

import Footer from "../components/Footer.astro"; 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <Nav/> 
		<h1>About</h1>
<div class="about">
     <div class="about_1">
                    <h2>Festival Experience</h2>

        <p>Karrusel believes in the right to a harassment-free festival experience. We believe in the right of everyone to express themselves. Karrusel welcomes everybody
         all with their different orientations, experiences, histories and backgrounds. Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community.

</p>
        </div>

<div class="about_respect">
    <p>Take responsibility for your own actions
    Respect your own and others boundaries
    Speak up rather than look the other way</p>
</div>

    <img class="about_img" src="public/img/about.png">

    <div class="about_2">
         <h2>About</h2>

    <p>2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave  presenting some of the world's leading electronic artists. 

Past  editions include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK,
  Folamour, Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy  Gou,
   Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and  VTSS.
    The festival is open air and takes place on secluded green spot at  the abandoned
     shipyard of Refshaleøen in central Copenhagen.</p>
    </div>
   
<div class="about_3">
  <h2>Thanks</h2>

     <p>Special thanks to each and every volunteer, Heineken Silver for supporting new
         and wild ideas and Refshaleøen for meeting our housing needs..</p>
</div>
</div>
   
  

	</body>
</html>
<style>


.about{
    text-align: center;
    margin-bottom: 3%;
  
}

.about_1, .about_2, .about_3{
    margin-bottom: 4%;
    margin-top: 4%;
      padding: 5.5%;
}

.about_respect{
    color:#5F1400;
    padding: 7%;
}

.about_img{
    width: 100%;
}
</style>
