---
import "../styles/layout.css";
import Nav from "../components/Nav.astro";
import Movingbanner from "../components/Movingbanner.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Pinkbanner from "../components/Pinkbanner.astro"; 
import Lineup from "../components/Lineup.astro";
import Carousel from "../components/Carousel.astro";

//API keys
//Project URL: https://rbqphrbsgztcnskkjdkq.supabase.co 
//Project API keys: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJicXBocmJzZ3p0Y25za2tqZGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTM3NDcsImV4cCI6MjAyNjA2OTc0N30.GvR57uaKjzJt0jYC8QSdbKLWggMzwDIWHMRbaqtjL2U


//Fetcher vores data fra API
const data = await fetch ("https://rbqphrbsgztcnskkjdkq.supabase.co/rest/v1/Line-up", {
	method:"GET", 
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJicXBocmJzZ3p0Y25za2tqZGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTM3NDcsImV4cCI6MjAyNjA2OTc0N30.GvR57uaKjzJt0jYC8QSdbKLWggMzwDIWHMRbaqtjL2U"
	}
}).then(res=>res.json());

console.log(data);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
	</head>
	<body>
		<Nav/> 
		<div class="herotext">
			<h1>KARRUSEL</h1>
		</div>
		<main>
			<Banner/>
			<Carousel/>
			<Pinkbanner/>
			<Movingbanner/>
			<div class="lineup">
				<h2>Line-up 2024</h2> <br><br><br><br>
				<p>...3 DAYS OF HOUSE, DISCO & TECHNO IN THE WOODS</p> <br><br><br><br><br><br>  
        	    <a href="/single"></a>
				<Lineup/>

<!-- 
				{data.map(show=>{
					return <Lineup data={show}/>;
				})} -->

				<Movingbanner/>
			</div>
		</main>
		<Footer/>
	</body>
</html>


<style>


.lineup p{
	text-align: center;
}


</style>