---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Acid Pauli</h1>

        <div class="grid_singleview">
            <div>
            <img src="img/acid_pauli.webp" alt="acid pauli">
            </div>
            <div><h3>About Acid Pauli</h3>
            <p>Over the last 20 years Martin Gretschmann has been exploring new fields of music off the mainstream paths: psychedelic, adventurous and full of musicality.
                Acid Pauli is Martin Gretschmann's club-oriented live set. It has morphed over the years into an advanced DJ performance, incorporating not only techno and house but a wide variety of music across genres beyond dance music. As a versatile musician, Martin is equally comfortable performing at Techno Clubs in New York or Ibiza as he is producing radio plays and writing film music.
            </p>
            </div>
        </div>

        <style>
        
        .grid_singleview {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    </style>
    
	</body>

    
</html>