---
import "../styles/layout.css";

import Nav from "../components/Nav.astro";

import Footer from "../components/Footer.astro";

import Signup from "../components/Signup.astro"; 

---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Artists</title>
</head>

<body>
     <Nav/> 
    <h1>Artists 2023</h1>

    <div class="grid_artist">
        <div class="artist_card">
            <img src="img/acid-pauli-artist-card.webp" alt="Acid Pauli">
            <h2>Acid Pauli</h2>
            <a href="acid_pauli.html">About</a>
        </div>

        <div class="artist_card">
            <img src="img/ame-artist-card.webp" alt="Ame">
            <h2>Amé</h2>
            <a href="ame.html">About</a>
        </div>

        <div class="artist_card">
            <img src="img/fjaak-artist-card.webp" alt="Fjaak">
            <h2>Fjaak</h2>
            <a href="fjaak.html">About</a>
        </div>

        <div class="artist_card">
            <img src="img/haai-artist-card.webp" alt="Haai">
            <h2>HAAI</h2>
            <a href="haai.html">About</a>
        </div>

        <div class="artist_card">
            <img src="img/kolsch-artist-card.webp" alt="Kölsch">
            <h2>Kölsch</h2>
            <a href="koelsh.html">About</a>
        </div>

              <div class="artist_card">
            <img src="img/mira-artist-card.webp" alt="Mira">
            <h2>Mira</h2>
            <a href="mira.html">About</a>
        </div>

                   <div class="artist_card">
            <img src="img/satori-artist-card.webp" alt="Satori">
            <h2>Satori</h2>
            <a href="Satori.html">About</a>
        </div>
                   <div class="artist_card">
            <img src="img/skin-on-skin-artist-card.webp" alt="Skin on skin">
            <h2>Skin on skin</h2>
            <a href="skin-on-skin.html">About</a>
        </div>

                         <div class="artist_card">
            <img src="img/VTSS-artist-card.webp" alt="VTSS">
            <h2>VTSS</h2>
            <a href="VTSS.html">About</a>
        </div>

    </div>
    <Signup/>
    </body>
    		<Footer/>
</html>

<style>
    .grid_artist {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.artist_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  margin-right: 50px;
  margin-left: 120px;
  background-color: #fff;
  width: 60%;

}

img{
    width: 100%;
}

.artist_card a{
         font-family: "Montserrat", sans-serif;
  color: #430708;
    font-size: 1.7rem;
  font-weight: 600;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
 margin-left: 33%;
}

</style>
