---
import "../styles/layout.css";

import Nav from "../components/Nav.astro";

import Footer from "../components/Footer.astro";

import Signup from "../components/Signup.astro";

import Card from "../components/Card.astro";

const data = await fetch("https://rbqphrbsgztcnskkjdkq.supabase.co/rest/v1/Artists", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJicXBocmJzZ3p0Y25za2tqZGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTM3NDcsImV4cCI6MjAyNjA2OTc0N30.GvR57uaKjzJt0jYC8QSdbKLWggMzwDIWHMRbaqtjL2U",
  },
}).then((res) => res.json());

console.log("Data", data);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Artists</title>
  </head>

  <body>
    <Nav />
    <h1>Artists</h1>
    <main class="grid_artist">
      {
        data.map((artist) => {
          return <Card data={artist} />;
        })
      }
    </main>

    <Signup />
  </body>
  <Footer />
</html>

<style>
  img {
    width: 100%;
  }
  .grid_artist {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
  }
</style>
