---

import "../styles/layout.css";

import Nav from "../components/Nav.astro";

import Movingbanner from "../components/Movingbanner.astro";

import Footer from "../components/Footer.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <Nav/> 
		<h1>Tickets </h1>
        <main>
            <Movingbanner/>
            <Movingbanner/>
		</main>
		<Footer/>
	</body>
</html>
        

    