---

---

<div class="container">
    <div class="banner">
        <div class="countdown">
                <div class="countdown-box">
                    <p>1</p>
                </div>
                <div class="countdown-box">
                    <p>0</p>
                </div>
                <div class="countdown-box">
                    <p>2</p>
                </div>
            </div>
        <div class="banner-text">
            <h2 class="days-text">Days until</h2>
            <h3 class="rave-text">..your circus themed rave</h3>
        </div>
    </div>
</div>

<style>


.container {
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .banner {
        width: 100%;
        height: 40vh;
        background: #C7FFB9;
        display: flex;
        align-items: center;
    }

    .days-text {
        font-size: 6rem;
        text-align: end;
        margin-right: 40px; 
    }

    .rave-text {
        font-size: 2rem;
        text-align: end;
        margin-right: 40px; 
    }

    .countdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 90px;
    }

    .countdown-box {
        width: 150px;
        height: 200px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: 2px solid #430708;
    }

    .countdown-box p {
        margin: 0;
        font-size: 8rem;
        font-weight: bold;
        text-align: center;
        color: #430708     
    }








    /* Tablet */

    @media screen and (max-width: 1080px) {

    .banner {
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .days-text,
    .rave-text {
        text-align: center;
        margin-right: 0;
    }

    .countdown {
        margin-left: 0;
        justify-content: center;
    }

    .countdown-box {
        width: 100px; 
        height: 150px; 
        margin-right: 5px; 
    }

    .countdown-box p {
        font-size: 6rem;
    }
}

/* Mobil */


    @media screen and (max-width: 800px) {
    .container, .banner {
        height: 20vh;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .days-text,
    .rave-text {
        margin-right: 0;
        font-size: 4rem; 
    }

    .countdown {
        margin-left: 0;
        justify-content: center;
    }

    .countdown-box {
        width: 80px; 
        height: 100px; 
        margin: 5px; 
    }

    .countdown-box p {
        font-size: 4rem; 
    }
}

</style>