---
const { data } = Astro.props;

console.log(data);
---

<article class="artist_card">
  <img src={`/img/${data.image}`} alt={`Image of ${data.name}`} />
  <h2>{data.name}</h2>

  <a href={`artists/${data.slug}`}>Read more </a>
</article>

<style>
  .artist_card {
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    margin-right: 50px;
    margin-left: 165px;
    width: 100%;
  }

  .artist_card img {
    max-width: 100%;
  }

  .artist_card a {
    font-family: "Montserrat", sans-serif;
    color: #c7ffb9;
    font-size: 1.4rem;
    font-weight: 600;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin-left: 33%;
  }
</style>
