---

---

 <footer>
            <div class="grid_footer">

                <div>
              <a href="https://www.instagram.com/karruselfest" target="_blank">
                                <img class="instagram" src="public/img/insta.webp" alt="instagram">
                            </a>
                </div>
     
                </div>
               <a href="https://www.facebook.com/karruselfest" target="_blank">
                                <img class="facebook" src="public/img/facebook.png" alt="facebook">
                            </a>
                <div>
         
                </div>
                    <a href="https://www.facebook.com/karruselfest" target="_blank">
                                <img class="tiktok" src="public/img/tiktok.png" alt="tiktok">
                            </a>
            </div>

        </footer>

<style>
.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
</style>