---

---

 <footer>
            <div class="grid_footer">
              <a href="https://www.instagram.com/karruselfest" target="_blank">
                                <img class="instagram" src="/img/insta.webp" alt="instagram" width="100">
                            </a>

                    <a href="https://www.facebook.com/karruselfest" target="_blank">
                                <img class="tiktok" src="/img/tiktok.webp" alt="tiktok" width="200">
                            </a>
            

               <a href="https://www.facebook.com/karruselfest" target="_blank">
                                <img class="facebook" src="/img/facebook.webp" alt="facebook" width="100">
                            </a>
                <div>
         
         

        </footer>

<style>

.grid_footer {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  margin-top: 6%;
}

@media screen and (max-width: 900px){
.instagram, .tiktok, .facebook{
  width: 1%;
}
}




/* .grid_footer {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* text-align: center;
  justify-content: center;
  
} */ 
/* 
footer {
  padding-top: 2.5rem;
  margin-top: 4%;
  text-align: center;
  padding-bottom: 2rem;
}

.instagram{
   width: 15%;
}

.facebook{
  width: 5%;
}

.tiktok{
  width: 12%;
  
} */
</style>