---
// const {data} = Astro.props; 
// console.log(data);

const data = await fetch ("https://rbqphrbsgztcnskkjdkq.supabase.co/rest/v1/Line-up", {
	method:"GET", 
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJicXBocmJzZ3p0Y25za2tqZGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTM3NDcsImV4cCI6MjAyNjA2OTc0N30.GvR57uaKjzJt0jYC8QSdbKLWggMzwDIWHMRbaqtjL2U"
	}
}).then(res=>res.json());

const headline = data.filter((show) => show.hovednavn)
const other = data.filter((show) => !show.hovednavn)

console.log("headline", headline)

---

<a href={`shows/${data.slug}`}>
<ul class="lineup">
    {headline.map(show=>{
					return <li>{show.name}</li>;
				})}
</ul>
</a>

<ul class="lineup eight-rows">
    {other.map(show=>{
        return <li><iconify-icon icon="material-symbols:lens" style="color: #9A1512;"></iconify-icon>{show.name} </li>})}
</ul>


<style>

/* Line-up store navn */


/* Farver - lave 3 klasser der kalder på child elementen */

.lineup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-bottom: 60px;
}

.lineup li {
    flex: 1 0 33.33%; /* För 3 kolumner per rad */
    text-align: center;
    margin-bottom: 50px;
}

/* 4 artister på andra raden */
.lineup li:nth-child(4),
.lineup li:nth-child(5),
.lineup li:nth-child(6),
.lineup li:nth-child(7) {
    flex: 1 0 25%;
}

/* 3 artister på näst sista raden */
.lineup li:nth-last-child(4),
.lineup li:nth-last-child(3),
.lineup li:nth-last-child(2) {
    flex: 1 0 33.33%;
}

/* 2 artister på sista raden */
.lineup li:nth-last-child(1),
.lineup li:nth-last-child(2) {
    flex: 1 0 50%;
}


/* Line-up små navn */

.eight-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-bottom: 300px;
}

.eight-rows li {
    flex: 1 0 25%;
    text-align: center;
    margin-bottom: 20px;
}

.eight-rows li:nth-child(-n+28) {
    flex: 1 0 25%;
}

.eight-rows li:nth-last-child(-n+2) {
    flex: 1 0 50%;
}


</style>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>