---

---
<div class="signup-container">
<div class="signup">
    <h3>Let's stay in touch</h3>
    <form action="din-server-side-behandling.php" method="post">
        <input type="email" class="input-field" placeholder="Indtast din e-mailadresse" name="email" required>
       
    <button class="button">SIGN UP NOW</button>
    </form>
</div>
</div>


<style>
    .signup {
        background: #C7FFB9 ;
        width: 30%;
        text-align: center;
        padding: 2rem;
        border-radius: 20px;
        text-align: center;
        
    }

    form {
        margin-top: 2rem;
    }
 label{
    margin-top: 2rem;
    font-family:"Montserrat", sans-serif;
 }

 .input-field {
     width: 80%; /* Ændr bredden efter behov */
    height: 40px; /* Ændr højden efter behov */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

    h3 {
        font-weight:1000;
        font-style: italic;
    }

    .button {
        background: black;
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        color: white;
        border-radius: 30rem;
        font-style: italic;
        display: block;
        margin-left: 9rem;
    
    }

    .button:hover{
        cursor: pointer;
    }

    .signup-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


</style>